@page "/comment"

<h3>コメントの書き方</h3>
<p>
    Blazor では2種類のコメントの書き方があります。
</p>

<p>
    <!-- ひとつはこのように、HTML のコメントを使う方法 -->
    ここにコメントがあります。
</p>

<p>
    @* もうひとつは、Razor のコメント記法を使う方法 *@
    ここもコメントがあります。
</p>

@code {

}
