<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorAddress</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="address">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 住所入力
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addresslambda">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ラムダ式
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addresscomp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> コンポーネント
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="key">
                <span class="oi oi-list-rich" aria-hidden="true"></span> キー入力
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mouse">
                <span class="oi oi-list-rich" aria-hidden="true"></span> マウスイベント
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
