<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorBind</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="simple">
                <span class="oi oi-list-rich" aria-hidden="true"></span> シンプルなバインド
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="changefont">
                <span class="oi oi-list-rich" aria-hidden="true"></span> フォントサイズ変更
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 質問フォーム
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parent2child">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 親から子へ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="child2parent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 子から親へ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="childclick">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 子のイベントを親へ
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
