<tr>
    <td>@Item.Name</td>
    <td>@Item.Height</td>
    <td>@Item.Height</td>
    <td>@Item.Bmi.ToString("00.0")</td>
</tr>

@code {
    // パラメータで表示する要素を受ける
    [Parameter]
    public BmiItem Item { get; set; }
    // ChildContent は固定
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
