@page "/parent2child"

<h3>親から子コンポーネントへ伝達する</h3>

<div>

    体重を入力: <input type="number" @bind="Weight" />
</div>

<BlazorBind.Components.BmiChild @bind-Weight="Weight" />



@code {
    public double Weight { get; set; } = 60;
    public string Name { get; set; } = "masuda";
    public double Hight { get; set; } = 160.0;
    public double result { get; set; }
}
